<div class="account-page">
    <div class="main-wrapper">
        <div class="account-content">
            <a class="btn btn-primary apply-btn">Faire une demmande</a>
            <div class="container">
            
                <!-- Account Logo -->
                <div class="account-logo">
                    <a><img src="assets/img/logo2.png" alt="Xeweul App"></a>
                </div>
                <!-- /Account Logo -->
                
                <div class="account-box">
                    <div class="account-wrapper">
                        <h3 class="account-title">Page d'inscription</h3>
                        <p class="account-subtitle">Bienvenue sur Xeweul</p>
                        
                        <!-- Account Form -->
                        <form action="index.html">
                            <div class="form-group">
                                <label>Nom</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label>Prénom</label>
                                <input class="form-control" type="password">
                            </div>
                            <div class="form-group">
                                <label>Adresse Mail</label>
                                <input class="form-control" type="password">
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-primary account-btn" type="submit">Register</button>
                            </div>
                            <div class="account-footer">
                                <p>Already have an account? <a href="login.html">Login</a></p>
                            </div>
                        </form>
                        <!-- /Account Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
